.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .card__container{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}
.card {
    width: 520px;
    background: rgb(17, 17, 17);
    box-shadow: 5px 5px 15px 5px #000000;
}
.list-group-item {
    border: 1px solid #f8f9fa;
}