@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$color-black: #111111;
$color-dark: #222;
$color-white: #ffffff;
$color-terciario:#c01d1d;
$overlay: rgba(0,0,0,0.5);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-shadow;
}

body{
    
    background: $color-dark;
    color:$color-white;

   
}
