.hidden {
  display: none;
}
.logo {
  position:relative;
  font-size: 35px;
  letter-spacing: -2px;
  color: $color-terciario;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.70em;
  outline: none;
  
  animation: animate 10s linear infinite;
}

@keyframes animate{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
  {
    color: $color-terciario;
    text-shadow: none;
  }
  18.1%,20.1%,30%,50%,60.1%,80.1%,90%,92.1%,100%
  {
    color: $color-white;
    text-shadow: 0 0 10px red,
     0 0 20px red,
     0 0 40px red,
     0 0 80px red,
     0 0 160px red;
    
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-bottom: 2px;
  background: $color-black;
  border-bottom: 1px solid $color-terciario;
  img {
    width: 75px;
    height: 75px;
  }
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    // .brand {
    //   font-family: inherit;
    //   font-size: 1.75rem;
    //   font-weight: 700;
    //   line-height: inherit;
    //   text-transform: uppercase;
    //   color: $color-white;
    // }
    .logo__container {
      margin-left: 30px;
      a{
      text-decoration: none;

  }
    }
    .menu {
      display: flex;
      flex-direction: row;
      flex: 1;
      flex-basis: auto;
      justify-content: space-around;
      align-items: center;
      font-weight: bold;
      margin-right: 30px;
      padding: 0 10px;
      
    }
  }
}

.menu a {
  position: relative;
  font-size: 12px;
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 10px 0px;
  text-decoration: none;
  &:after {
    content: "";
    position: absolute;
    background: $color-terciario;
    height: 1px;
    width: 0;
    bottom: 8px;
    left: 0;
    transition: 0.3s;
  }

  &:hover:after {
    width: 100%;
  }

  &[aria-current]{
    &:after {
      content: "";
      position: absolute;
      background: $color-terciario;
      height: 1px;
      width: 90%;
      left: 5%;
      bottom: 8px;
    }  }
}

