.main {
    display: flex;
    justify-content: center;
    width: 100%;
    .container-fluid{
        background: $color-black;
    }
    &__title{

    }
    &__content{

    
    ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
        // display: flex;
        li{
            list-style:none;
            margin: 20px 60px;
            svg{
                color: $color-white;
                font-size: 80px;
            }
        }
        }
    }
    
  }
