@media only screen and (max-width: 1200px) {
  .card{
    width: 420px;
  }
}

@media only screen and (max-width: 992px) {
.card{
    width: 320px;
  }}
@media only screen and (max-width: 768px) {
  .header {
    .navbar {
      padding: 1rem 2rem;
      margin: 0 auto;

      .wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        background: $color-black;
        transition: all 0.8s ease;

        .menu {
          display: flex;
          align-items: center;
          flex-direction: column;
          position: absolute;
          top: 25%;
          width: 100%;
          transform: translateY(-50%);
        }
      }

      .nav-toggle {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        z-index: 999;

        span {
          display: block;
          width: 20px;
          height: 2px;
          background-color: #c01d1d;
          border-radius: 2px;
          margin-left: 14px;

          &:nth-child(1) {
            margin-top: 16px;
          }
          &:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
          }
          &:nth-child(3) {
            margin-top: 4px;
          }
        }
      }

      #nav:checked + .nav-toggle {
        transform: rotate(45deg);

        span {
          transition: transform 0.5s ease;

          &:nth-child(1) {
            transform: translateY(6px) rotate(180deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-6px) rotate(90deg);
          }
        }
      }

      #nav:checked ~ .wrapper {
        z-index: 99;
        opacity: 1;

        .menu {
          &-item {
            a {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
.card {
    width: 450px;
}
  .row .column{
    flex: 50%;
  }
}

@media only screen and (max-width: 576px) {
//Estilos del Footer
.container__socials {
    ul{
    // flex-direction: column;
    li{
      margin: 0 10px;
      a{
        font-size: 50px;
      }
    }
    .fab{
      color: $color-dark;
      border-bottom: none;
    }
    li:nth-child(1)::before{
    content: "";
    border-bottom: none;
    }
    li:nth-child(2)::before{
    content: "";
    border-bottom: none;
    }
    li:nth-child(3)::before{
    content: "";
    border-bottom: none;
    }
    li:nth-child(4)::before{
    content: "";
    border-bottom: none;
    }
    li:nth-child(5)::before{
    content: "";
    border-bottom: none;
    }
    }
   
}
//Estilos main stack
.main__content ul li svg {
    font-size: 70px;
}
//Estilos de cards de proyectos

.cards{
    flex-direction: column;
}
.card {
    width: 399px;
   
}

//Estilos de la galeria de about
  .row .column{
    flex: 100%;
  }
  .row .column img{
  filter: grayscale(0) brightness(1)
  }

}