.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background: $color-black;
    color: $color-white;
    height: 88vh;
    h2{
      font-size: 3.5rem;
      letter-spacing: 2px;
      text-transform: capitalize;
    }
    p{
        font-size: 1.5rem;
        letter-spacing: 1px;

      }
    }
    .banner__img{
      height: 300px;
    }
    @media only screen and (max-width: 576px) {   
      .banner__img{
        height: 150px;
      }
    }