.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-black;
    color: $color-white;
    height: 100vh;
    h2{
      font-size: 3.5rem;
      letter-spacing: 2px;
      text-transform: capitalize;
    }
    p{
        font-size: 1.5rem;
        letter-spacing: 1px;

      }
    }
 