.container-fluid{
        // background-color: $color-black;

}

.presentation{
    
   &__title{
       font-size: 14px;
       color: $color-terciario;
       text-transform: uppercase;
   }
    &__work{
        ul{
            li{
            list-style:none;
            a{
                font-size: 48px;
                font-weight: 400;
                letter-spacing: 2px;
                line-height: 72px;
                font-family: 'Times New Roman';


            &:after {
                content: "";
                position: absolute;
                background:$color-terciario;
                // background-color: rgba(192,29,29, .2);
                height: 70px;
                width: 0;
                left: 0px;
                transition: 0.3s;
                z-index: -1;
            }

                    &:hover:after {
                        width: 100%;
                    }
            }
            }
        }
    }
}